$bgColor: #FFF;
$highlightColor: #ED7D31;

body {
    background-color: $bgColor;
    font-family: sans-serif;

    .container {
        margin-top: 15px;
    }
}

.iceAndFireBody {
    border: 1px solid #898989;
    padding-left: 10px;
    padding-right: 10px;
}

.spacerTop {
    margin-top: 20px;
}

.navbar.navbar-light {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    h1 {
        margin: 0;
    }
    .navbar-nav {
        flex-direction: row;
        a {
            margin-left: 10px;
        }
    }
}

.character-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .character-card {
        padding: 10px;
        border: 1px solid #898989;
    }
}
